*, *:before, *:after{
  box-sizing: border-box;
}

:root {

}

body {
    background: linear-gradient(220deg, rgba(189,0,255,1) 0%, rgba(0,163,255,1) 100%);
    height: 100vh;
    background-attachment: fixed; /* keeps the gradient fixed, so it is not moving while scrolling*/
    font-family:"Poppins";
}

.containter {
  margin: 1em .5em;
  height: calc(100 - 2em);
}

section {
  background: #221F26 url("./bg.png");
  background-size: cover;
  background-blend-mode: screen; /* lets you decide which blend mode to use for bg color and bg image */
  background-position: -100px;
  height:100%;
}

nav {
  display:none;
}